--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
matplotlib
numpy==1.23.0
opencv-python # cv2
imageio
imageio-ffmpeg
pyyaml # yaml
tqdm
argparse
cython
scikit-image # skimage
scipy
onnxruntime
gradio
decorator
joblib
regex==2021.8.3
opencv-python-headless
absl-py
tensorboard==1.15.0
safetensors
scikit-learn
onnx